body {
    background-color: lightblue;
    font-family: "Palatino Linotype", Arial, Helvetica, sans-serif;
}

section {
    max-width: 600px;
    width: 90%;
    margin: auto;
}

#locationResult {
    margin-top: 20px;
    margin-bottom: 20px;
}

#locationText {
    font-size: 20px;
}

#locationImage {
    width: 90vw;
    height: 90vw;
    max-width: 600px;
    max-height: 600px;
    object-fit: cover;
    padding-top: 15px;
}